:root {
  --light-text-color: #eee;
  --dark-text-color: #111;
  --light-bg-color: #eee;
  --dark-bg-color: #222;
  --light-hover-color: #333;
  --dark-hover-color: #111;
  --light-border-color: #eee;
  --dark-border-color: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
}

body,
#root {
  flex: 1;
  display: flex;
  font-family: sans-serif;
  background-color: var(--light-bg-color);
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s;
  position: relative;
  background-color: var(--light-bg-color);
  transition: background-color 1s;
}

.app.loading {
  opacity: 0;
}

.app_red {
  background-color: darkred;
  transition: background-color 1s;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.main-content {
  position: relative;
}

button:hover {
  cursor: pointer;
}
