:root {
  --card-width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: var(--card-width);
  height: 250px;
  padding: 10px;
  border: 1px solid black;
}

.card:hover:not(.card.disabled) {
  outline: 2px solid blue;
}

.card.disabled {
  cursor: initial;
}
