:root {
  --header-bg-color: rgba(128, 128, 128, 0.5);
  --help-icon-hover-color: rgba(128, 128, 128, 0.75);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color: var(--header-bg-color);
}

.header__title {
  grid-column: 2 / 3;
  margin: 0;
  font-size: 3rem;
}

.header__help-btn {
  grid-column: 3 / 4;
  justify-self: end;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
}

.header__help-btn:hover {
  background-color: var(--help-icon-hover-color);
}

.header__help-icon {
  width: 100%;
  height: 100%;
}
