.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(var(--card-width) * 2 + var(--gameboard-grid-gap));
  height: 140px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}

.scoreboard__current-score {
  font-size: 1.75rem;
  user-select: none;
}

.scoreboard__high-score {
  user-select: none;
}

.scoreboard__win-text {
  font-size: 2rem;
  user-select: none;
}

.scoreboard__reset-btn {
  color: var(--dark-text-color);
  background-color: gold;
  border: 2px solid var(--dark-border-color);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5rem;
}

.scoreboard__reset-btn:hover,
.scoreboard__reset-btn:focus-visible {
  background-color: goldenrod;
}
