.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  width: calc(var(--card-width) * 2 + var(--gameboard-grid-gap));
}

.scoreboard__current-score {
  font-size: 1.75rem;
}
