:root {
  --gameboard-grid-gap: 10px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--gameboard-grid-gap);
}

@media screen and (max-width: 870px) {
  .gameboard {
    grid-template-columns: repeat(2, auto);
  }
}
